html,
body {
  	padding: 0;
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: black !important;
	cursor: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-radius: 0px !important;
}

.app-cursor{
	z-index: 1000;
	border-radius: 100% !important;
	width: 65px;
	height: 65px;
	border: 1px solid lightgray;
	pointer-events: none;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	position: fixed;
	mix-blend-mode: difference;
}

.navbar {
  mix-blend-mode: difference;
  z-index: 100;
}

.navbar-nav {
	position: absolute;
	top: 10%;
	right:3%;
  font-size: 1rem;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
}

.nav-link:hover{
  color:red !important;
}


.landing-logo{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 7rem;
  width: 7rem;
}

/* Landing */

.landing-image {
	position: relative;
 	background: url(../public/sitebgx.gif);
 	background-size: cover;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100vh;
}

.landing-text {
	top: 45%;
	left: 50px;
	right: 50px;
	position: absolute;
  	font-size: 1.5em;
  	color: white;
  	font-weight: 200;
}

/* Work */
.work-container{
	background: black;
	height: 100vh;
	max-width: 100vw;
}

.work-row {
	position: relative;
	top: 40vh;
	text-align: center !important;
	justify-content: center !important;
}

.work-lead-text{
	color: white;
	font-weight: 100;
	position: relative;
	font-size: 2.5rem;
}

.work-lead-text:hover{
	color: red;
	text-decoration: none !important;
}

#webdesign {
	background-color: black;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#graphicdesign {
	background-color: black;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#objectdesign {
	background-color: black;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#architecture {
	background-color: black;
	height: auto;
	width: 100%;
	overflow: hidden;
}

.gallery-caption{
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.70);
  	color: #fff;
  	visibility: hidden;
  	opacity: 0;
  	transition: opacity .2s, visibility .2s;
  	display: flex;
  	justify-content: center;
  	align-items: center;
	text-transform: lowercase;
}

.gallery-caption h4{
  	position: absolute;
  	top: 45%;
  	font-size: 2vw;
	font-weight: 200;
	letter-spacing: 5px;
	text-align: center;
}

.gallery-img-wrap:hover .gallery-caption {
  	visibility: visible;
  	opacity: 1;
}

.gallery-img-wrap{
	margin: 10px;
}

.gallery-img{
	object-fit: cover;
	position: relative;
	object-position: center !important;
	height: 50vh;
	width: 100%;
	overflow: hidden;
}

.gallery-img2{
    object-fit: cover;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

/* Work-Sub-Page */

.work-image {
	position: relative;
 	background: url(../public/workbgx.gif);
 	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100vh;
}

.work-sub-page{
	background-color: black !important;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 10vh;
	overflow: hidden;
}

.work-sub-leadtext{
	padding-top: 40vh;
	padding-bottom: 20px;
}

.work-sub-leadtext > h3{
	font-size: 3rem;
	font-weight: 200;
}

.work-sub-leadtext > p{
	font-size: 1rem;
}

.img-container{
	padding: 0 !important;
}

.img-fluid {
	padding-top: 10px;
	padding-bottom: 10px;
}

.img-responsive {
	display: inline-block;
	text-align: center;
  }
  

/* About */
.about-section{
	background-color: white !important;
	overflow: hidden;
}

.about-image {
	position: relative;
 	background: url(../public/aboutbgx.gif);
 	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100vh;
}

.about-text {
	color: black;
	font-weight: 100;
	position: relative;
	top: 43%;
	text-align: center;
	font-size: 1rem;
}

.about-lead-text {
	color: black;
	font-weight: 100;
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 3rem;
}

.about-text-desc {
	position: relative;
}

.about-icon {
	text-align: center;
	margin: 5% auto;
	width: 7rem;
	height: 7rem;
}

.about-sub-text {
	font-weight: 300;
}

/* Contact */

.contact-section{
	background-color: white !important;
	height: 100vh;
	overflow: hidden;
}

.contact-text{
	position: relative;
	top: 35vh;
}

.contact-lead-text{
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 2px;
}

.contact-icons{
	display: flex;
	justify-content: center;
	font-size: 4rem;
}

.contact-icons > a{
	color: #A9A9A9;
}

.contact-icons > a:hover{
	color: #000;
	transform: scale(1.3);
	transition: width 2s;
}

.icon-container{
	margin-top: 30px;
}

/* Footer */
.footer-container{
	position: relative;
	display: inline-block; 
	bottom: 0px;
	text-align: center;
	font-weight: 300;
	font-size: 0.8rem;
}

.privacy-policy-link{
	color: black !important;
}

.privacy-backdrop {
	background-color: black;
}

